.sidebar{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.sidebar img{
    width: 24px;
}

.sidebar .menu{
    margin-left: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.sidebar .new-chat{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    justify-content: flex-start;
}

.sidebar .recent{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}
.sidebar .recent .recent-title{
    margin-bottom: 20px;
    font-weight: bold;
}
.sidebar .recent .recent-entry{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    justify-content: flex-start;
}
.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}
